body{
    overflow-x:hidden ;
}

.navbar-brand img{
    height: 40px;
}
.nav-link:hover{
    color: rgb(180, 98, 16) !important;
    border-bottom: 1px solid rgb(180, 98, 16);
}
h1{
    color: rgb(2, 81, 90);
    p{
        color: rgb(2, 81, 90);
    }
}
header{
    background-image: url('Assets/header.jpg');
    background-size: cover;
    background-position:center ;
    padding: 100px;
}
header>div{
    background-color: rgba(255, 255, 255, 0.7);
    width: 430px;
    /* filter: blur(3px); */
    backdrop-filter: blur(3px);
}
.box{
    position: relative;
    display: inline-block;
    padding: 5px;
    padding-top:0px ;
    padding-bottom: 10px;
    border: 2px solid #fcc659;
    margin-top: 15px;
}
/* yeelow handles */
.box i{
    position:absolute;
    width: 10px;
    height: 10px;
    background: #e5ae41;
    /* border-radius: 50%; */
}
.box i:nth-child(1){top:-6px;left:-6px}
.box i:nth-child(2){top:-6px;right:-6px}
.box i:nth-child(3){bottom:-6px;left:-6px}
.box i:nth-child(4){bottom:-6px;right:-6px}

#sponser img{
    height: 20px;
    margin: 20px;
    filter: grayscale(100%);
}
#about{
    position: relative;
    left: 50px;
}
#about>img{
    height: 200px;
    border-radius: 20px;
}
/* #about-img1{

} */
#about-img2{
    transform: translate(-40px,-30px);
}
#why-choose{
    color: white;
}
#why-choose button{
    width: max-content;
}
#why-choose button:hover{
    background-color: white;
    color: brown;
}
#why-choose label{
    background-color: rgb(228, 228, 228);
    width: max-content;
    height: 40px;
    width: 40px;
    padding: 8px 10px;
    border-radius: 50%;
}
.card{
    transition: 1s;
    margin-bottom: 20px;
}
.card:hover{
    background-color:rgb(237, 237, 237);
    box-shadow:0px 0px 5px 5px rgb(200, 172, 91);
}
#product>div{
    margin: 10px 0;
    height: 40px;
}


